html{
  position: relative;
}
body{position: relative;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #424242;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 15px;
    line-height: 1.6em;
    background-color: #f5f5f5;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url(../images/main_bg.png);
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
  }

  a {
    color: #2eca7f;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    color: #FF9800;
    text-decoration: none;
    outline: none;
  }
  
  a:focus {
    outline: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #212121;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 15px;
    margin: 0 0 10px;
    font-weight: 400;
  }
  
  p.lead {
    font-size: 18px;
    margin: 25px 0;
  }
  
  img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }

  .page {
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin-right: 10%;
    margin-left: 10%; */
    position: relative;    
    /* width: 100%; */
    height: auto;
  }

  .mobile-visible {
    display: none;
    visibility: hidden;
  }
  
  .mobile-hidden {
    display: block;
    visibility: visible;
  }
    .header {
    position: fixed;
    width: 100%; 
    height: 100px;
    background-color: transparent;
    z-index: 1;    
  }



.header a {color: white}

.flex-container {
  /* display: flex; */
  max-width: 1032px;
  margin-left:3%;
  margin-right: 3%;
  margin: 0 auto;
  
  /* width:90%; */
  /* margin: 0 auto;
  overflow: auto;  */
  overflow: hidden;
  /* *zoom: 1; */
  /* display:inline-block; */
  /* float:left; */
}

/* .clearfix:after{
  content: "020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;  
  }

.clearfix {
  /* 触发 hasLayout */ 
  /* zoom: 1; 
  } */

.logo{
  color: #49515d;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat', Helvetica, sans-serif;
  line-height: 1;
  margin: 38px 0 0;
    position: relative;
    float: left;
    z-index: 1;
    text-align: center;
    
}
.site-nav{
/* position: relative;  */
float: right;
/* width: 100%; */
z-index: 1;

}
.main-menu{
  display: block;
  padding: 0;
  margin: 0;
}
.main-menu li{
   /* margin: 10px, 10px,10px,10px; */
    /* margin-top: 10px; */
    /* margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; */

 
  position: relative;
  padding: 100;
  text-align: left;
  margin-top: 33px;

display: inline-block;
}

.main-menu li a,
.main-menu li a:hover {
  display: block;
  position: relative;
  padding: 8px 0;
  margin: 0 20px;
  text-align: center;
  color: #49515d;
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  outline: none;
  opacity: 0.6;
}

.main-menu li:last-child a {
  /* margin-right: 100px; */
}

.main-menu li a:hover,
.main-menu li.active a {
  background-color: transparent;
  opacity: 1;
}

.main-menu li a:after {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  width: 0;
  height: 2px;
  margin: 0 auto;
  background-color: #2eca7f;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.main-menu li a:hover:after,
.main-menu li.active a:after {
  width: 25px;
}

  /* .header {
    width: 100%;
    max-width: 320px;
    height: calc(100% - 50px);
    right: 0;
    top: 50px;
    z-index: 1001;
    overflow: auto;
    background-color: #2eca7f;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    -webkit-transition: all 0.44s ease-in-out;
    -moz-transition: all 0.44s ease-in-out;
    -o-transition: all 0.44s ease-in-out;
    -ms-transition: all 0.44s ease-in-out;
    transition: all 0.44s ease-in-out;
  } */

 /* Mobile menu toggle */
.menu-toggle {
  display: block;
  width: 50px;
  margin: 0 4px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  float: right;
}

.menu-toggle i {
  /* position: absolute;
  right: 0;
  top: 0; */
  display: block;
  color: #fff;
  font-size: 21px;
  line-height: 50px;
}
/* /Mobile menu toggle */
  
.sub-page{
    position: relative;
    width: 100%;
    margin-left:3%;
    margin-right: 3%;
    margin: 0 auto;
    padding-top: 100px;
    max-width: 1032px;
    
}

.sub-page>.pt-page{
  
  background-color: transparent;
  padding-bottom: 50px;
}

.page-container{
  border-radius: 15px;
  background-color: #fff;   
  overflow: hidden;
  box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);

}

.profile-card__top{
    position: relative;
  background-color: #2eca7f;
  padding: 50px;
  margin-bottom: 25px;
  background-image: url(../images/main_bg.png);
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}

.profile-card__top .profile-card-photo{
  max-width: 280px;
  margin-bottom: -75px;
  border: 3px solid #fff;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.profile-card__top .profile-card-photo:hover {
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px);
  -webkit-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}

.profile-card__bottom{
 padding: 30px 50px 50px;
}

.info-table th, td {
  text-align: left;
  padding: 8px;
}


.name-and-title{
  text-align: center;
}
.name-and-title .name{
  
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  margin: 30px 0 0;
}

@media only screen and (min-width: 991px) {
  .header.sticked {
    background-color: #fff;
    height: 60px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  }
}

.header.sticked .logo {
  margin-top: 18px;
}

@media only screen and (min-width: 991px) {
  .header.sticked .main-menu li {
    margin-top: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .mobile-visible {
    display: block;
    visibility: visible;
  }

  .mobile-hidden {
    display: none !important;
    visibility: hidden !important;
  }

  .border-block-top-110 {
    display: none;
  }

  .header {
    width: 100%;
    max-width: 320px;
    height: calc(100% - 50px);
    right: 0;
    top: 50px;
    z-index: 1001;
    overflow: auto;
    background-color: #2eca7f;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    -webkit-transition: all 0.44s ease-in-out;
    -moz-transition: all 0.44s ease-in-out;
    -o-transition: all 0.44s ease-in-out;
    -ms-transition: all 0.44s ease-in-out;
    transition: all 0.44s ease-in-out;
  }

  .header * {
    -webkit-transition: all 0.44s ease-in-out;
    -moz-transition: all 0.44s ease-in-out;
    -o-transition: all 0.44s ease-in-out;
    -ms-transition: all 0.44s ease-in-out;
    transition: all 0.44s ease-in-out;
  }

  .my-photo {
    margin-top: 31px;
  }

  .site-title {
    font-size: 24px;
  }

  .mobile-header {
    position: fixed;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #2eca7f;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    z-index: 1000;
  }

  .mobile-logo-container {
    margin: 0 20px;
    text-align: left;
  }

  .mobile-logo {
    display: inline-block;
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin: 0;
    line-height: 50px;
  }

  .site-title-block .site-description {
    display: none;
  }

  .subpages {
    padding-top: 15px;
  }

  .single-page-content {
    padding: 15px;
  }

  .page-content,
  .single-page-content .content-area .page-content {
    padding: 30px 30px 50px;
  }

  .subpage-block {
    margin-bottom: 40px;
  }

  .site-main {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .section-title-block {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .section-title-wrapper {
    display: block;
    text-align: center;
  }

  .section-title {
    display: inline-block;
    position: relative;
    font-size: 38px;
  }

  .section-title:after {
    display: none;
  }

  .section-title-block .section-description {
    position: relative;
    font-size: 13px;
    margin-top: -10px;
  }

  p.site-description {
    color: #9e9e9e;
    text-shadow: none;
  }

  .pt-wrapper {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .mobile-menu-hide {
    width: 0;
    right: 0;
    margin-right: -100%;
    overflow: hidden;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .mobile-menu-hide * {
    visibility: hidden;
    opacity: 0;
  }

  .main-menu li {
    display: block;
    width: 100%;
    margin: 0;
    float: left;
  }

  .main-menu li:first-child {
    margin-top: 25px;
  }

  .main-menu li a,
  .main-menu li a:hover {
    color: #fff;
    padding: 15px 10px;
    margin: 0;
  }

  .main-menu li.active a:after,
  .main-menu li a:hover:after {
    
  height: 2px;
    width: 25px;
    bottom: 8px;
    background-color: #fff;
  }

  
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

}

.copyrights{
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 12px;
  color: #9e9e9e;
}

